<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":null,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":2,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1}]')
 });
 </script>
<% content_for :title do %>Student Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex=“1” data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title=Welcome data-text=“Information Board” data-moreinfo=“Protip: You can drag the widgets”></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-view="Myclock"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="convergence" data-view="Graph" data-title=“Notices” style="background-color:#ff9618"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">                           
	<div data-view="Countdown" data-title="3 o'clock today" data-end="07-Jul-2017 15:00:00"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
    <div data-id="some_data" data-view="Fa" data-title="My title"></div>
    </li>
   </ul>
    <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
    </div>
