<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Welcome" data-view="Text" data-title="Welcome" data-text="This is your school dashboard." data-moreinfo="Protip: Black Holes Don't exist!"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Myclock"></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Countdown" data-title="3 o'clock today" data-end="07-Jul-2017 15:00:00"></div>
	</li>
	
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
		<div data-id="trafficmap" data-view="Trafficmap" data-title="School Traffic" data-lat="53.507677" data-long="-2.146322" data-zoom="14" ></div>
	</li>

	</ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
